[submodule "third-party/esp-claw"]
	path = third-party/esp-claw
	url = https://github.com/espressif/esp-claw.git
[submodule "third-party/esp-iris"]
	path = third-party/esp-iris
	url = https://github.com/lisir233/ESP-Iris.git
[submodule "third-party/esp-mosaico-tools"]
	path = third-party/esp-mosaico-tools
	url = git@github.com:lisir233/esp-mosaico-tools.git
